<style>
body{
    margin: 15%;
    
}

.app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}
input{
  width: 90%;
}

.get{
    width: 10%;
    margin-bottom: 30px;

}

.form{

    margin-bottom: 40px;
    width: 100%;
}

.table{
    width: 35%;
}

</style>

<% include ../partials/header %>
  <div class="container">
    <h1 class="text-center mt-4">To do List</h1>
    <a href="/auth/logout" class="logout">Logout</a>
    <a href="/" class="logout">Back to Home</a>



    <button id="getProducts" class="get">
      Click me!!!
    </button>

    <form id="productForm" class="form">
      <input type="text" id="newProduct" class="input">
      <button type="submit">Add</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>
  <% include ../partials/footer %>

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>

  $(function () {


$('#getProducts').on('click', function() {
  console.log('escucho el click')
  $.ajax({
    url: '/products',
    success: function (products) {
      console.log('fue un exito');
      let tbody = $('tbody');
      tbody.html('');
      products.forEach(product => {
        console.log('creando los productos y los botones')
        tbody.append(`
            <tr>
              <td class="id">${product.id}</td>
              <td>
                <input type="text" class="name" value="${product.name}"/>
              </td>
              <td>
                <button class="update-button">UPDATE</button>
                <button class="delete-button">DELETE</button>
              </td>
            </tr>
        `)
      })
    }
  });
});


$('#productForm').on('submit', function (e) {
  e.preventDefault();
  let newProduct = $('#newProduct');

  $.ajax({
    url: "/products",
    method: 'POST',
    data: {
      name: newProduct.val()
    },
    success: function(response) {
     newProduct.val('');
     $('#getProducts').click();
    },
    error: function (err) {
      console.log('este es el error' + err);
    }
  });
});

$('table').on('click', '.update-button', function() {
  let row = $(this).closest('tr');
  let id = row.find('.id').text();
  let name = row.find('.name').val();
  console.log(name)

  $.ajax({
    url: "/products/" + id,
    method: 'PUT',
    data: {
      name: name 
    },
    success: function(response) {
      console.log(response);
      $('#getProducts').click();
    }
  });
});

$('table').on('click', '.delete-button', function() {
  let row = $(this).closest('tr');
  let id = row.find('.id').text();

  $.ajax({
    url: "/products/" + id,
    method: 'DELETE',
    success: function (response) {
     console.log(response);
     $('#getProducts').click();
    }
  });
});

});
</script>